{% extends 'library/base.html' %}
{% block title %}About{% endblock %}
{% block content %}
    <h4>About</h4>
    <p>
    This is a site with which you can easily find the right book or the right author.
    <br>You can edit the directory by constantly updating the library.
    </p>
{% endblock %}