{% extends 'library/base.html' %}}
{% block title %}
Home
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-6">
  <h4> Book </h4>
      <form action="{% url 'book_add' %} ">
        <input type="submit" value="Add new book" />
      </form>
      {% for book in books %}
          <a href="{% url 'showBook' book.id %}">{{ book.title }}</a><br>
      {% endfor %}</div>
  <div class="col-md-6">
    <h4> Authors </h4>
    <form action="{% url 'author_add' %} ">
        <input type="submit" value="Add new authors" />
      </form>
      {% for author in authors %}
          <a href="{% url 'showAuthor' author.id %}">{{ author.name }}</a><br>
      {% endfor %}
  </div>
</div>
{% endblock %}