{% extends 'library/base.html' %}
{% block title %}
Log in
{% endblock %}
{% block content %}
    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Enter</button>
    </form>
{% endblock %}