{% extends 'library/base.html' %}
{% block title %}
Registration
{% endblock %}
{% block content %}
    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Register</button>
    </form>
{% endblock %}