{% extends 'library/base.html' %}}
{% block title %}
Search
{% endblock %}
{% block content %}
<p>You searched for: <strong>{{ query }}</strong></p>

{% if books %}
    <p>Found {{ books|length }} book{{ books|pluralize }}.</p>
    <ul>
        {% for book in books %}
        <li><a href="{% url 'showBook' book.id %}">{{ book.title }} &ndash; {{ book.author }} </a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No books matched your search criteria.</p>
{% endif %}
{% endblock %}
