{% extends 'library/base.html' %}}
{% block title %}
{{author.name }}
{% endblock %}
{% block content %}
    <p><b>Name author: </b>{{ author.name }}</p>
    <div class="row">
    <div class="col-md-0" style="padding-left: 10px">
      <form action="{% url 'author_update' author.pk %}">
        <input type="submit" value="Edit" />
      </form>
    </div>
    <div class="col-md-2">
    <form action="{% url 'author_delete' author.pk %} ">
        <input type="submit" value="Delete" />
      </form>
    </div>
    </div>
{% endblock %}