{% extends 'library/base.html' %}}
{% block title %}
{{book.title }}
{% endblock %}
{% block content %}
    <p><b>Book title: </b>{{ book.title }}</p>
    <p><b>Book author: </b>{{ book.author }}</p>
        <div class="row">
    <div class="col-md-0" style="padding-left: 10px">
      <form action="{% url 'book_update' book.pk %}" method="get">
        {% csrf_token %}
        <input type="submit" value="Edit" />
      </form>
    </div>
    <div class="col-md-2">
    <form action="{% url 'book_delete' book.pk %} ">
        <input type="submit" value="Delete" />
      </form>
        </div>
        </div>
{% endblock %}